body {margin-top: 20px !important;}
	.insite{
	position: fixed;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	width: 100%;
	max-height: 21px;
	font-size: 18px;
	font-stretch: ultra-condensed;
	color: white;
	background-color: #00000085;
	z-index: 99999999;
	top: 0px; left: 0px;
	text-align: center;
	}
	.ins_red{color:red;}
	.ins_wite{color:white;}